html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* END OF CSS RESET */

body,
html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #1b2838;
    color: #fff;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-image: url(../assets/navbar.png);
    background-size: cover;
    color: #c7d5e0;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-transform: uppercase;
    height: 100px;
    font-size: 1.5rem;
    z-index: 1;
}

#navBack {
    height: 24px;
}

.navbar img {
    position: fixed;
    top: 20px;
    right: 20px;
}

.navbar a {
    padding: 0 35px 0 0;
    cursor: default;
}

.navbar a:hover {
    color: #c7d5e0;
    text-shadow: 0px 0px 7px #c7d5e0;
}

.navbar a:first-of-type {
    background-image: url(../assets/arrow-grey.png);
    background-repeat: no-repeat;
    padding-right: 70px;
}

.navbar a:first-of-type:hover {
    background-image: url(../assets/arrow-white.png);
}

.active {
    color: #fff;
    text-shadow: 0px 0px 7px #fff;
    pointer-events: none;
}

#navContainer {
    margin: auto;
    padding: 30px 0 0 30px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#maincontent {
    top: 100px;
    position: relative;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #2a2e33;
    position: fixed;
}

#mostplayed {
    display: flex;
}

#planning {
    display: none;
}

#recommended {
    display: none;
}

#friends {
    display: none;
}

/* END OF BASIC APP STYLING */
/* MOST PLAYED LIST STYLING */

#mpContainer {
    margin: auto;
    padding: 30px 30px 20px 30px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.gameContainer {
    background-color: #16202d;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    width: 100%;
}

.textContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 30px 10px 30px;
    width: 80%;
}

.gameContainer:hover {
    background-color: #101822;
}

.mpImage {
    width: 257px;
    min-width: 257px;
    object-fit: cover;
}

.mpTitle {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.mpPlatforms {
    padding-bottom: 10px;
}

.mpPlatforms img {
    height: 20px;
    padding-right: 10px;
    object-fit: cover;
}

.mpInfo {
    padding-top: 10px;
}

.mpOnline {
    width: 20%;
    margin: auto;
    padding-right: 30px;
    text-align: right;
}

#recomContainer {
    margin: auto;
    padding: 30px 0 0 30px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

/* MOST PLAYED GAME DETAILS STYLING */

.gameDetailsContainer {
    width: 960px;
    min-width: 960px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    top: 50px;
    left: calc(50% - 480px);
    position: absolute;
}

.gameInfoBgImg {
    width: 1366px;
    min-width: 1366px;
    margin: auto;
    margin-top: -30px;
}

.gameInfoGradient {
    width: 1366px;
    min-width: 1366px;
    height: 520px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    background: rgb(22, 32, 45);
    background: -moz-radial-gradient(circle, rgba(22, 32, 45, 0) 0%, rgba(22, 32, 45, 0.8239670868347339) 0%, rgba(22, 32, 45, 0) 100%);
    background: -webkit-radial-gradient(circle, rgba(22, 32, 45, 0) 0%, rgba(22, 32, 45, 0.8239670868347339) 0%, rgba(22, 32, 45, 0) 100%);
    background: radial-gradient(circle, rgba(22, 32, 45, 0) 0%, rgba(22, 32, 45, 0.8239670868347339) 0%, rgba(22, 32, 45, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16202d",endColorstr="#16202d",GradientType=1);
}

.gameTitle {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.gameInfoCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(22, 32, 45, 0.6);
    height: 475px;
}

.gameInfoLeft {
    width: 67%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.gameInfoRight {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.gameInfoImg {
    width: 100%;
    object-fit: contain;
}

.gameInfoDesc {
    width: auto;
    padding: 10px 20px 0px 0px;
    line-height: 1.3rem;
    font-size: 0.9rem;
}

#myChart {
    width: 100%;
    margin-top: 50px;
}

#histogram {
    width: 100%;
    margin-top: 50px;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin-left: 0px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 350px;
    background-color: #000000;
}

.mySlides img{
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next img {
    height: 24px;
}
.prev img {
    height: 24px;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dotCont {
    padding: 10px 0 0 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.current,
.dot:hover {
    background-color: #717171;
}